* {
    box-sizing: border-box;
  }
  
  body {
      background-color: #efe7e7;
	  font-family:  Helvetica, Arial, sans-serif;
  }
  
  h1 {
      font-size: 1.5em;
      text-align: center;
      color: #000000;
      margin-bottom: 30px;
  }
  
  p {
      font-size: 1.2em;
	  padding: 15px 5px 0px 5px;
      position: relative;
  }
  
  .section { 
      background-color: #9b9797;
         border: 1px solid black;
         margin-top: 20px; 
         margin-right: 20px; 
         padding: 4px; 
         text-align: justify;
         position: relative;
   }
  
  span {
      font-size: 1.2em;
      width: 150px;
      border: 1px solid black;
      font-weight: bold;
      text-align: center;
      float: right; 
	  position: absolute;
	  top: 0;
	  right: 0;
  }
  #box1 {
      background-color: #E39E9E;
      color: #000000;
  }
  #box2 {
      background-color: #C71340;
      color: #FFFFFF;
  }
  #box3 {
      background-color: #E1DF50;
      color: #000000;
  }
  }
  
  .row {
      width: 100%;
  }
  
  @media (min-width: 992px) {
    .col-lg-4 {
      width: 33.33%;
      float: left;
      }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
      width: 50%;
      float: left;
    }
    .col-md-12 {
      width: 100%;
      float: left;
    }
  }
  @media (max-width: 767px)  {
    .col-sx-12 {
      width: 100%;
	  float: left;   
    }
  }